<div class="container-fluid">
    <div class="row">
        <br/>

        <div class="page-header">
            <h1>List of Scenarios</h1>
        </div>
    </div>
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th class="table-row-cell">#</th>
            <th width="70%" class="table-row-cell">Filter Scenarios: <input type="text" ng-model="filterScenario.name">
            </th>
            <th class="table-row-cell">Total Steps</th>
            <th class="table-row-cell">Passed</th>
            <th class="table-row-cell">Failed</th>
            <th class="table-row-cell">Skipped</th>
            <th class="table-row-cell">Status</th>

        </tr>
        </thead>

        <tbody>
        <tr ng-repeat="scenario in allScenarios | filter:filterScenario">
            <td>{{$index+1}}.</td>
            <td class="table-row-cell">
                <div>{{scenario.name}}</div>
                <i class="multiline-text">{{scenario.description}}</i>
                <div class="well well-sm text-danger" collapse="scenario.result.isCollapsed">
                   <div>Failed at line({{scenario.result.failedStep.line}}) of <em>{{scenario.featureFileName}}</em></div>
                    <span><strong>{{scenario.result.failedStep.keyword}}</strong>&nbsp;{{scenario.result.failedStep.name}}</span>
                    <table class="table table-bordered" ng-if="scenario.result.failedStep.rows">
                        <tr ng-repeat="row in scenario.result.failedStep.rows">
                            <td ng-repeat="cell in row.cells">
                                {{cell}}
                            </td>
                        </tr>
                    </table>
                    <pre  class="alert-danger"><i class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></i>&nbsp;{{scenario.result.failedStep.result.error_message | limitTo:200}}...</pre>
                </div>
            </td>
            <td class="table-row-cell">{{scenario.result.passed + scenario.result.failed+scenario.result.skipped}}</td>
            <td class="table-row-cell">{{scenario.result.passed}}</td>
            <td class="table-row-cell">{{scenario.result.failed}}</td>
            <td class="table-row-cell">{{scenario.result.skipped}}</td>
            <td class="table-row-cell">
                <span class="btn btn-success" ng-if="scenario.result.failed <= 0">
                    <i class="glyphicon glyphicon-ok"
                       aria-hidden="true"></i>&nbsp;{{scenario.result.status}}</span>
                <button class="btn btn-danger" ng-if="scenario.result.failed > 0"
                      ng-click="scenario.result.isCollapsed = !scenario.result.isCollapsed">
                    <i class="glyphicon"
                       ng-class="{'glyphicon-eye-close': scenario.result.isCollapsed,'glyphicon-eye-open' : !scenario.result.isCollapsed}"
                       aria-hidden="true"></i>&nbsp;{{scenario.result.status}}</button>
            </td>
        </tr>
        </tbody>

    </table>
</div>

